.row{
    align-items: center;
    display: flex;
    justify-content: center;
    gap:4rem
}

.activeColor{
    padding-top: 5px;
    height: 30px;
    width: 70px;
    border: 2px solid gray;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.maindiv{
    background: rgb(245, 244, 247);
    display: inline-flex;
    align-items: center !important;
    justify-content: center ;
    margin: 60px;
    /* border: 1px solid; */
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.rightdiv{
    /* background: rgb(204, 227, 220); */

    /* background-color: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%); */

    background-image: url("C:/Users/Mithushan/Desktop/Bluechip/firebase/reactlogin/src/images/36194.png" ) ;
    background-size: 200px 300px;
    background-repeat: no-repeat;
    /* background-color: #b95c5c; */
    height: 300px;
    width: 300px;

    
}
.leftdiv{
    height: 300px;
    width: 300px;
margin-left: 30px;
background: rgb(235, 240, 240);
}